/* +--------------------------------------------------------------------------
// | Author: Merrier <953075999@qq.com> <http://> <Date:2017/1/21 13:15>
// +--------------------------------------------------------------------------*/
/* +--------------------------------------------------------------------------
// | Author: Merrier <953075999@qq.com> <http://> <Date:2016/1/21 13:15>
// +--------------------------------------------------------------------------*/
@font-face {
  font-family: 'SourceHanSansCN-Medium';
  src: url('../fonts/SourceHanSansCN/SourceHanSansCN-Medium.otf'), url('../fonts/SourceHanSansCN/SourceHanSansCN-Medium.TTF');
}
@font-face {
  font-family: 'SourceHanSansCN-Normal';
  src: url('../fonts/SourceHanSansCN/SourceHanSansCN-Normal.otf');
}
.font_yahei {
  font-family: 'Microsoft Yahei', '微软雅黑';
}
.font_arial {
  font-family: 'Arial';
}
.font_sitka {
  font-family: 'Sitka';
}
.font_hei {
  font-family: '黑体';
}
.center_block {
  margin-left: auto;
  margin-right: auto;
}
.content_box {
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.bg_white {
  background-color: #ffffff;
}
.bg_black {
  background-color: #000000;
}
.bg_black * {
  color: #ffffff;
}
.btn_modal_close {
  position: absolute;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 35px;
  right: 10px;
  top: 5px;
  font-size: 40px;
  color: #00b6f6;
  cursor: pointer;
}
.btn_modal_close:hover {
  transform: rotateZ(90deg);
  -webkit-transform: rotateZ(90deg);
  -o-transform: rotateZ(90deg);
  -moz-transform: rotateZ(90deg);
  transform-origin: center center;
  -webkit-transform-origin: center center;
  -o-transform-origin: center center;
  -moz-transform-origin: center center;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
}
html body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
  -webkit-text-size-adjust: none;
}
html body header.navbar {
  background-color: #1a1a1a;
}
html body header.navbar .navbar-right .nav-icon-box {
  position: absolute;
  height: 78px;
  width: 78px;
  border: 4px solid #272727;
  background: #212121;
  right: 4%;
  text-align: center;
  top: 0;
}
html body header.navbar .navbar-right .nav-icon-box img {
  display: block;
  max-width: 100%;
  height: auto;
}
html body .wrp {
  margin-bottom: 0;
}
html body .wrp .wrp_header {
  padding-top: 20px;
  padding-bottom: 20px;
}
html body .wrp .wrp_header h2 {
  margin-top: 30px;
  margin-bottom: 0;
  font-weight: normal;
}
html body .wrp .wrp_header p {
  font-size: 18px;
  color: #999;
}
html body .wrp .wrp_content .content_main .content_box {
  margin-bottom: 20px;
}
html body .wrp .wrp_content .content_main .content_box p {
  font-size: 16px;
}
html body .wrp .wrp_content .content_main .content_box .content_meta {
  margin-bottom: 5px;
  color: #999;
}
html body .wrp .wrp_content .content_main .content_box .content_des .content_des_box {
  padding: 5px 10px;
  margin-bottom: 10px;
}
html body .wrp .wrp_content .content_main .content_box .content_des .content_des_box:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
html body .wrp .wrp_content .content_main .content_box .content_des .content_des_box h4 {
  margin: 5px 0;
}
html body .wrp .wrp_content .wrp_sidebar .sidebar_module {
  padding: 15px;
  margin: 0 -15px 15px;
}
html body .wrp .wrp_content .wrp_sidebar .sidebar_module h4 {
  margin-bottom: 10px;
}
html body footer {
  text-align: center;
  background: #000;
  width: 100%;
  font-size: 12px;
  margin: auto;
  padding-bottom: 30px;
}
html body footer a {
  color: #b6b6b6;
}
html body footer p {
  color: #6c6c6c;
}
html body footer .footer_qr li {
  display: inline-block;
  margin: 62px 30px 40px;
  color: #b6b6b6;
  width: 119px;
  vertical-align: top;
}
html body footer .footer_qr li img {
  width: 80%;
}
html body footer .footer_qr li p {
  font-size: 12px;
}
html body footer .footer_menu {
  padding: 15px 0 14px;
}
html body footer .footer_menu li {
  display: inline-block;
  border-right: 1px solid #b6b6b6;
}
html body footer .footer_menu li a {
  padding: 0 16px;
}
